/* CSS Document */

* {
	padding: 0;
	margin: 0;
}
 .top {
	width: 100%;
	height: 57px;
	background: url(../img/top-bg.png) repeat-x;
}
.top_content{
	color:#939390;
	font-family:ºÚÌå;
	font-size:15px;
	font-weight:600;
	line-height:57px;
	float:right;
	padding-right:50px;
	}

.main{
	width:100%;
	min-width:1336px;
	height:661px;
	background:#E7E5F2;
	}
.main_left{
	width:20.7%;
	min_width:277px;
	height:661px;
	background:#FFFFFF;
	float:left;
	}
.main_right{
	width:79%;
	height:604px;
	float:left;
	}
.right_top{
	height:40px;
	border-bottom:2px solid #EBEBEB;
	line-height:40px;
	font-family:ºÚÌå;
	font-size:15px;
	font-weight:bold;
	padding-left:20px;
	}
.top_img{
	float:left;
	margin-top:5px;
	}
.top_text{
	float:left;
	margin-top:3px;
	margin-left:5px;
	}
.right_bottom{
	padding:30px 50px;
	height:560px;
	}
.content{
	width:101%;
	height:530px;
	border:1px solid #C9C9C9;
	background:#F0EFF4;
	border-radius:5px; 
	}
.content_top{
	height:50px;
	border-bottom:1px solid #E4E4E4;
	line-height:50px;
	}
.top_left,.top_right{
	float:left;
	font-size:20px;
	font-family:Î¢ÈíÑÅºÚ;
	font-weight:bold;
	padding-left:20px;	
	
}
.top_left{
	width:500px;
	}
.content_bottom{
	border-bottom:1px solid #E4E4E4;
	height:380px;
	font-family:ºÚÌå;
	}
.bottom_left{
	width:430px;
	height:360px;
	border-right:1px solid #E4E4E4;
	padding:10px 30px;
	font-size:14px;
	font-family: Microsoft Yahei;
	float:left;
	}
.bottom_left input,.bottom_right input{
	
	border-radius:5px; 
	height:30px; 
	width:200px;
	margin-top:15px;
}
.bottom_left textarea,.bottom_right textarea{
	
	border-radius:5px; 
	height:150px; 
	width:400px;
	margin-top:15px;
	margin-left:10px;
}
.bottom_right{
	width:400px;
	height:340px;
	padding:10px 30px;
	font-size:14px;
	font-family: Microsoft Yahei;
	float:left;
}
.content_bnt{
	height:70px;
	}
.log_bottom1,.log_bottom2{
	margin-top:20px;
	padding-top:5px;
	height:30px;
	width:71px;
	text-align:center;
	float:left;
	background:url(../img/admin-button.png) no-repeat;
	font-size:14px;
	font-family: Microsoft Yahei;
	color:#FFFFFF;
	}
.log_bottom1{
	margin-left:40px;
	}
.log_bottom2{
	margin-left:20px;
	}
.footer{
	width: 100%;
	height: 57px;
	background: url(../img/top-bg.png) repeat-x;
	float:left;
	}
.footer_content{
	color:#C0C1C3;
	font-family:Microsoft Yahei;
	font-size:12px;
	line-height:57px;
	text-align:center;
	}
	
