*{
	margin:0;
	padding:0;
}
@media (min-width:1024px){
footer{
	width:100%;
	min-width:1024px;
	background-color: #22272f;
	color:#fff;
	height:76px;
}
#dis_div{
	width:100%;
	height:76px;
	margin:0 auto;
}
#disclaimer{
	line-height:76px;
	text-align:center;
}
#dis_div1{
	display:none;
}
}
@media only screen and (min-width: 0px) and (max-width: 1024px)  {
footer{
	width:100%;
	min-width:300px;
	font-size: 12px;
	background-color: #22272f;
	color:#fff;
	text-align:center;
}
#dis_div{
	display:none;
}
#dis_div1{
	padding:10px auto;
	box-sizing:border-box;
}
}
