#mb_con{
	z-index: 999999;
	width:700px;
	position:fixed;
	background: #fff;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;;
	border:1px solid #000;
	overflow: hidden;
} 
#mb_tit{
	display: block;
	font-size: 18px;
	font-weight: bold;
	color:#FFFFFF;
	background: #313B47;
	height: 30px;
	line-height: 30px;
	text-align:center;
}

/*#mb_msg{
	overflow-y:auto;
	overflow-x:hidden;
	margin:0 20px;
}*/
#mb_btnbox{
	background: #fff;
	text-align: center;
}
#mb_btn_ok,#mb_btn_no{
	border:none;
	padding:3px 10px;
	margin:10px 60px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background-color:#009DD9;
	color:#FFFFFF;
	font-weight: bold;
}