@CHARSET "UTF-8";
body,html {
margin: 0;
padding: 0;
height:100%;
}
#content {
min-height:100%;
position: relative;
}
#main {
padding-bottom: 60px;  
}
.footer {
position: absolute;
bottom: 0;
padding: 18px 0;
background: #414040;
width: 100%;
}
.footer .copyright {
	vertical-align: middle;
}
.copyright p {
	color: #fff;
	font-size: 1em;
}
.copyright p a {
	color: #fff;
	font-size: 1em;
}