*{
	margin:0;
	padding:0;
	font-family: "黑体";
}
header,footer{
	background:url(../img/lj-bg.png);
	text-shadow: 1px 1px #000;
}

/*------------header----------------*/
header{
	height:80px;
	width:100%;
	min-width:1000px;
	z-index:0;
}
.hh{
	color:#CACAC7;
	float:right;
	margin:30px 50px 10px 0;
}
.exit{
	float:right;
	margin:30px 5px 10px 0;
}


/*--------------footer------------*/
footer{
	height:65px;
	width:100%;
}
.ff{
	color:#CACAC7;
	line-height:65px;
	margin:0 23%;
	font-weight:bold;
}
